<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <title>FoodCombos - What can you create?</title>
    <meta name="description" content="" />
    <meta name="keywords" content="food, combine, combinations, goes, well, with" />
    <meta name="robots" content="index,follow" />
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link rel="stylesheet" href="css/add2home.css">
	<!--[if (gte IE 6)&(lte IE 8)]>
<script type="text/javascript" src="js/html5.js"></script>
<script type="text/javascript" src="js/selectivizr-min.js"></script>
<link rel="stylesheet" href="css/ie_7.css" type="text/css" />
<![endif]-->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="js/all-in-one.js"></script>
    <script type="text/javascript" src="js/setup.js"></script>
	<script type="application/javascript" src="js/add2home.js"></script>
	
	<script type="text/javascript">
		$(document).ready(function() {			
			$('#add-combo-button').click(function() {
				// TODO: AJAX call to add it to the database
				
				// hide the add-combo area
				$('#add-combo').hide();
				
				// Create new element and add it at the top of
				// the list below
				var $newComboContainer = $('<div>', {class : 'combo-container'});
				
				var $newCurrentScore = $('<span>', {class : "current-score"}).html('0');
				
				var $newUpButton = $('<a>', {class : 'button white'}).html('&#x25B2;');
				
				var $newDownButton = $('<a>', {class : 'button white'}).html('&#x25BC;');
				
				var $newFood = $('<a>', {class : 'food-2', href : '#' }).html('Food');
				
				$newComboContainer.append($newCurrentScore);
				$newComboContainer.append($newUpButton);
				$newComboContainer.append($newDownButton);
				$newComboContainer.append($newFood);
				
				$newComboContainer.hide().appendTo('#combo-results').fadeIn('slow');
			});
		});
	</script>
	
	<style>
		#combo-input-form {
			text-align: center;
		}
		#combo-input-form input {
			width: 98%;
			height: 20px;
			font-size: 20px;
			margin: 0px;
			padding: 1%;
		}
		
		#add-combo .combo-container {
			border:1px solid #f2c779;
			background:#fff8c4;
			color:#ed7c18;
			font-size: 20px;
		}
		
		.combo-container {
			border:1px solid silver; /*#9ac1fa;*/
			/*background:#dbeefe;*/
			color: black;
			-webkit-border-radius:5px;
			-moz-border-radius:5px;
			border-radius:5px;
			padding:8px 10px;
			line-height:22px;
			margin-bottom:10px;
		}
		
		.combo-container a.button {
			margin: 0px 5px 0px 0px;
			cursor: pointer;
		}
		
		.combo-container .current-score {
			display: inline;
			float: left;
			line-height: 30px;
			margin-right: 5px;
			text-align: right;
			width: 30px;
		}

				
		.combo-container .food-2 {
			margin-left: 10px;
			color:#4180cf;
			font-size: 20px;
		}
		
		.combo-container .author {
			margin-left: 2px;
		}
		
		.header_bg {
			min-height: 20px;
		}
	</style>
 
    <!-- Header -->
    <header class="header_bg clearfix">
		<div class="container clearfix">
			 <!-- Logo -->
			
				<h1>FoodCombo</h1>
			
			 <!-- /Logo -->
		</div>
	</header>
    <!-- /Header -->
    
	<!-- START CONTENT -->
    <section class="container clearfix">
		
		<div class="clear padding20"></div>

		
        <div id="combo-input" class="container">
        	<form id="combo-input-form">
				<div class="col_1_3">
					<input type="text" name="food1" value={{foodName1}} />
				</div>
				<div class="col_1_3">
					good with
				</div>
				<div class="col_1_3 last">
					<input type="text" name="food1" />
				</div>
			</form>
        </div>
				
		<div class="clear padding20"></div>
		
		<div id="add-combo" class="container">
			<div class="combo-container">
				<a id="add-combo-button" class="button white">&#43; add to list</a>
				<a href="#" class="food-2">Vinegar</a>
			</div>
		</div>
        
		
		<div class="clear"></div>
		<hr />
		
        <div id="combo-results" class="container">
			<div class="combo-container">
				<span class="current-score">+100</span>
				<a class="button white">&#x25B2;</a><a class="button white">&#x25BC;</a>
				<a href="#" class="food-2">Vinegar</a>
			</div>
			<div class="combo-container">
				<span class="current-score">+10</span>
				<a class="button white">&#x25B2;</a><a class="button white">&#x25BC;</a>
				<a href="#" class="food-2">Vinegar</a>
			</div>
			<div class="combo-container">
				<span class="current-score">+1</span>
				<a class="button white">&#x25B2;</a><a class="button white">&#x25BC;</a>
				<a href="#" class="food-2">Vinegar</a>
			</div>
			<div class="combo-container">
				<span class="current-score">+1</span>
				<a class="button white">&#x25B2;</a><a class="button white">&#x25BC;</a>
				<a href="#" class="food-2">Vinegar</a>
			</div>
		</div>
		
		<div class="clear"></div>
	
	</section>
    <!-- END CONTENT -->
	
    </div>
    <!--wrapper end-->
	
</body>
</html>
